<footer class="site-footer-final" id="contact">
  <div class="container">
    <p>&copy; 2025 Eren. All rights reserved.</p>
    <div class="footer-socials">
      <a
        href="https://github.com/k-eren-k"
        target="_blank"
        aria-label="My GitHub profile"
        ><i class="fab fa-github"></i
      ></a>
      <a href="#" aria-label="My LinkedIn profile"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a href="#" aria-label="My Twitter profile"
        ><i class="fab fa-twitter"></i
      ></a>
    </div>
  </div>
</footer>
