<header class="site-header">
  <div class="container header-flex">
    <div class="logo-nav">
      <a href="/" class="logo" aria-label="Homepage">
        <img src="/assets/logo2.gif" alt="Eren Logo" width="28" height="28">
        <span>Eren</span>
      </a>

      <button class="mobile-menu-button" id="mobile-menu-toggle" aria-label="Toggle Menu">
        <i class="fas fa-bars"></i>
      </button>

      <nav class="main-navigation" id="main-nav">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>
    <div class="header-actions">
      <a href="mailto:your-email@example.com" class="btn btn-secondary">Get in Touch</a>
    </div>
  </div>
</header>
